@forward 'colors';

$bp-sm: 320px;
$bp-md: 768px;
$bp-lg: 1200px;
$body-margin: 60px;

@mixin mq($min: null, $max: null) {
    @if $min and $max {
        @media screen and (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $min {
        @media screen and (min-width: $min)  {
            @content;
        }
    } @else if $max {
        @media screen and (max-width: $max)  {
            @content;
        }
    }
}

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }
  
    @return $number;
  }