.nav {
    background-color: white;
    padding: 12px 2rem;
    @include mq($bp-lg) {
        padding: 12px $body-margin 0;
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    // TODO: add scroll bx
    // box-shadow: 0 1px 5px 1px lightgray;
    justify-content: space-between;
    align-items: center;
    @include mq($max: $bp-md) {
        align-items: flex-end;
    }

    h1 {
        margin: 0
    }

    .nav__items__wrapper {
        @include mq($max: $bp-md) {
            background-color: white;
            position: fixed;
            top: 40px;
            right: 0;
            left: 0;
            font-size: 1.25rem;
            display: none;
            &.is-visible {
                display: block;
            }
        }
    }

    .nav__items {
        display: flex;
        list-style: none;
        font-weight: 700;
        // @include mq($bp-md) {
        li {
        margin-left: 2rem;
        }
        // }
        @include mq($max: $bp-md) {
            flex-direction: column;
            > li {
                margin-bottom: .25rem;
            }
        }
    }

    .nav__item {
        text-decoration: none;
        color: black;
        &:active {
            color: purple;
        }
    }
}


.spacer {
    margin-top: 72px;
}

:export {
    MOBILE_BP: strip-unit($bp-md);
  }